<%
   if current_user == @trollied_user
     @title = t(".your_title")
   else
   # TODO: interpolate user name
   # (means name method has to be implemented for user model)
     @title = t(".for_user_title", :name => @trollied_user.trolley_user_display_name)
   end
-%>

<h1><%= @title -%></h1>

<% %w(current user_review ready in_process completed).each do |status| -%>
  <%= render :partial => 'orders', :locals => { :status => status, :trolley => @trolley } -%>
<% end -%>

