<%
   if current_user == @user
     @title = t("trolleys.show.your_title")
   else
   # TODO: interpolate user name
   # (means name method has to be implemented for user model)
     @title = t("trolleys.show.for_user_title")
   end
-%>

<h1><%= @title -%></h1>

<%= render  'pending' -%>

<!-- fulfilled purchase orders (i.e. shipped) -->

<!-- received purchase orders  (i.e. delivered) -->
