<tr>
  <td><%= link_to_purchasable_in(line_item) -%></td>
  <%  if can_delete_line_item?(order) -%>
  <td>
    <%= link_to t('line_items.line_item.delete'), { :controller => :orders,
    :action => :destroy,
    :id => line_item,
    :order_id => order,
    :trolley_id => trolley },
    :confirm => t('line_items.line_item.are_you_sure'), :method => :delete %></td>
  <% end -%>
</tr>
